affine==2.3.0
aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.3.0
backcall==0.2.0
cachetools==4.1.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cloudpickle==1.6.0
decorator==4.4.2
descarteslabs==1.5.0
Fiona==1.8.18
fsspec==0.8.4
gcsfs==0.7.1
geojson==2.5.0
geopandas==0.8.1
google-auth==1.23.0
google-auth-oauthlib==0.4.2
grpcio==1.33.2
idna==2.10
multidict==5.0.2
munch==2.5.0
numpy==1.19.4
oauthlib==3.1.0
pandas==1.1.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.8
protobuf==3.11.2
ptyprocess==0.6.0
pyarrow==0.17.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.7.2
pyOpenSSL==19.1.0
pyproj==3.0.0.post1
python-dateutil==2.8.1
pytz==2020.4
pyzmq==20.0.0
rsa==4.6
Shapely==1.7.1
six==1.15.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.4
wcwidth==0.2.5
yarl==1.6.3
